body {
	background-color: #fcfcfc;
}

body img {
	margin-left: 35%;
	margin-right: auto;
	width: 30%;
	height: auto;
}

h1,
h2 {
	text-align: center;
}

ol {
	text-align: center;
}

li {
	font-size: 25px;
}


.add {
	text-align: center;
	padding-bottom: 50px;
}

.eat {
	min-width: 150px;
	height: 60px;
}